<style>
/* General Reset */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Set a smooth font for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf8f8;
    color: #222222;
    line-height: 1.6;
    padding-bottom: 70px;
    font-size: 1rem;
}

/* Sticky Header */
header {
    width: 100%;
    background-color: #454545;
    color: white;
    padding: 15px 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo a {
    color: #ef8275;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.3s;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.menu a:hover, .menu a.active {
    color: #fe938c;
    border-bottom: 2px solid #fe938c;
}

/* Main Content */
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.profile-photo-container {
    flex: 1;
}

.profile-photo {
    width: 225px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.profile-text {
    flex: 2;
    max-width: 75%;
}

.profile-text h1 {
    color: #6d5959;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.profile-text p {
    font-size: 1.2rem;
}

.profile-text section {
    margin-top: 30px;
}

.profile-text section h2 {
    font-size: 1.8rem;
    color: #6d5959;
}

.profile-text section p {
    font-size: 1.2rem;
    color: #555;
}

/* Content Styling */
.content {
    padding: 30px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

h1, h2 {
    font-size: 1.8rem;
    color: #6d5959;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Fixed Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #454545;
    color: #e6e6e6;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo {
        width: 150px;
        height: 150px;
    }
}
</style>
